<div class="title"><h1>Stupid Coaching</h1></div>

<div class="input-group mb-3 d-flex col-8" >
  <div class="w-100 vh-100">
    <form action="/answer" data-turbo="false">
      <input class="form-control" type="text" name="ask">
      <input class="btn btn-outline-secondary" type="submit">
    </form>
  </div>
</div>
